{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>The D is Silent</title>
  <meta name="description" content="Django gallery presented using a django app">
  <meta name="author" content="Harry Crawford" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" media="screen" href='{% static "demo/css/style.css" %}'>
  <style>
  	#particles-js canvas{
  		position:absolute;
  		top:0;
  		left:0;
  		z-index:-99;
  	}
  	#desc{
  		background-position: center;
    	background-clip: content-box;
  	}
  	#particles-js{
  		z-index:88;
  	}
  	html{
  		max-height:100vh;
  	}
  	.cent{
  		margin-top:25vh;
  	}
  </style>
</head>
<body>


{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block background %}{% block content %}{% endblock %}{% endblock %}



</body>
</html>