
{% extends background %}

{% block content %}

  {% if images %}

  	<div class="container cent">

  		<div class="row">

  			{% for image in images %}			
  				
  				<div id="desc" class="col-sm-12 col-md-6 col-lg-4 col-xl-3" style="min-height:400px;background-image:url('media/{{ image.image }}');">
  				</div>						
  				
  			{% endfor %}

  		</div>

  	</div>

  {% else %}
    <div class="content">
  	 <h1 class="text-center roboto font-white">No images found...</h1>
    </div>
  {% endif %}
  </div>

{% endblock %}
